@media (max-width: 1024px) {
    /* .hero .hero_right .delivery div {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        align-items: center;
    } */
    .hero .hero_right .delivery {
        top: 1rem;
        left: -8rem;
        width: 13rem;
        height: 6rem;
        padding: 1rem 1.2rem;
    }

    .hero .hero_right .delivery div {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
    }

    .hero .hero_right .delivery div h4 {
        font-size: 1.6rem;
        font-weight: 400;
        padding-left: 1rem;
    }

    .hero .hero_right .delivery div h6 {
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--color_7D7C7C);
        grid-column: 1 / 3;
    }

    .hero .hero_left {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 2rem;
    }

    .hero .hero_right .delivery div img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .hero .hero_left > div:first-child > h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero .hero_left > div:last-child > div .order-now {
        width: 15rem;
        height: 5rem;
        padding: 1rem 1.6rem;
    }
    .hero .hero_left > div:last-child > div .order-now div h6 {
        font-size: 1.6rem;
        font-weight: 600;
    }
    .sale-off-carts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 834px) {
    .header .container_navigation {
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
    }

    .header .container_navigation .menu {
        order: 2;
        justify-self: flex-end;
        padding-left: 0;
    }

    .header .container_navigation .menu ul {
        display: none;
    }

    #menu_checkbox:checked + label > div:first-child {
        display: none;
    }

    #menu_checkbox:checked + label > div:nth-child(2) {
        display: block;
    }

    #menu_checkbox:not(:checked) + label > div:first-child {
        display: block;
    }

    #menu_checkbox:not(:checked) + label > div:nth-child(2) {
        display: none;
    }

    .header .container_navigation .menu .menu_mobile label > ul {
        position: fixed;
        height: 2.4rem;
        z-index: 10;
        display: flex;
        align-items: center;
        gap: 4.8rem;
        top: 0;
        left: 0;
        background-color: var(--color_F1F1F1);
        -webkit-box-shadow: 4px 0px 25px -10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 4px 0px 25px -10px rgba(0, 0, 0, 0.5);
        box-shadow: 4px 0px 25px -10px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        width: 20rem;
        height: 100vh;
        padding: 1rem 0 0 2rem;
        align-items: flex-start;
        gap: 3rem;
        transition: 150ms transform ease-in-out;
        -webkit-transition: 150ms transform ease-in-out;
        -moz-transition: 150ms transform ease-in-out;
        -ms-transition: 150ms transform ease-in-out;
        -o-transition: 150ms transform ease-in-out;
    }

    #menu_checkbox:checked + label > ul {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    #menu_checkbox:not(:checked) + label > ul {
        transform: translateX(-30rem);
        -webkit-transform: translateX(-30rem);
        -moz-transform: translateX(-30rem);
        -ms-transform: translateX(-30rem);
        -o-transform: translateX(-30rem);
    }
    /* ////////////////////////////////////////////////////////////////////////////////////// */
    .hero .hero_right .delivery {
        top: 1rem;
        left: -5rem;
        width: 9rem;
        height: 5rem;
        padding: 1rem 1.2rem;
    }
    .hero .hero_right .delivery div h4 {
        font-size: 1.2rem;
        font-weight: 400;
        padding-left: 0.5rem;
    }
    .hero .hero_right .delivery div img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .hero .hero_right .delivery div h6 {
        font-size: 1rem;
    }

    .hero .hero_left > div:last-child {
        margin-top: 0rem;
    }

    .hero .hero_left {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 0rem;
    }

    .hero .hero_right .delivery div img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .hero .hero_left > div:first-child > h1 {
        font-size: 2.4rem;
        line-height: 4rem;
    }

    .hero .hero_left > div:last-child > div .order-now {
        width: 15rem;
        height: 5rem;
        padding: 1rem 1.6rem;
    }
    .hero .hero_left > div:last-child > div .order-now div h6 {
        font-size: 1.6rem;
        font-weight: 600;
    }
    /* //////////////////////////////////////////////////////////////////////////// */

    .main .food_carts {
        grid-template-columns: repeat(2, 1fr);
    }
    /* //////////////////////////////////////////////////////////////////////////// */

    .sale-off-carts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
}

@media (min-width: 835px) {
    .header .container_navigation .menu .menu_mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .hero {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    .hero .hero_left > div:first-child > h1 {
        max-width: 100%;
        font-size: 3.6rem;
        color: var(--color_C90000);
        font-weight: 600;
        line-height: 5.4rem;
        text-align: center;
    }

    .hero .hero_left {
        grid-template-rows: repeat(1, 1fr);
        gap: 3rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .hero .hero_left > div:first-child > h3 {
        max-width: 100%;
        margin-top: 1rem;
        font-size: 1.6rem;
        color: var(--color_504F4F);
        font-weight: 400 !important;
        line-height: 2.4rem;
        text-align: center;
    }

    .hero .hero_right {
        position: relative;
    }

    .hero .hero_right .delivery {
        position: absolute;
        top: unset;
        bottom: -3remrem;
        left: 0;
        width: 12.3rem;
        height: 6.1rem;
        padding: 1rem 1.2rem;
    }

    .hero .hero_right .delivery div h4 {
        font-size: 1.6rem;
        font-weight: 400;
        padding-left: 0.7rem;
    }
    .hero .hero_right .delivery div img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .hero .hero_right .delivery div h6 {
        font-size: 1.4rem;
    }
    .hero .hero_left > div:last-child {
        display: none;
    }

    .mobile_header {
        width: 100%;
        display: grid;
        margin-top: 15rem;
        justify-content: center;
    }

    .mobile_header .total-order {
        max-width: 17.2rem;
        max-width: 36.9rem;
        margin-top: 0rem;
        text-align: left;
        display: flex;
        justify-content: flex-start;
    }

    .mobile_header .total-order h4 {
        font-size: 1.4rem;
        color: var(--color_323232);
        font-weight: 300;
        line-height: 2.1rem;
    }

    .mobile_header .total-order b {
        font-size: 1.4rem;
        color: var(--color_323232);
        line-height: 2.1rem;
    }

    .mobile_header > div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-top: 2rem;
    }

    .mobile_header > div .ammount {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 11.9rem;
        height: 3.9rem;
        border-radius: 10rem;
        border: 1px solid var(--color_F1F1F1);
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
        padding: 8px 16px 8px 16px;
        box-shadow: 0 10px 17px 0 rgba(112, 144, 176, 0.2);
    }

    .mobile_header > div .ammount button {
        cursor: pointer;
    }

    .mobile_header > div .ammount > h6 {
        font-size: 2rem;
        font-weight: 500;
        color: var(--color_FFC300);
    }

    .mobile_header > div .ammount > h6::after,
    .mobile_header > div .ammount > h6::before {
        content: "";
        border: 1px solid var(--color_F1F1F1);
        height: 2.2rem;
    }

    .mobile_header > div .ammount > h6::after {
        margin-left: 1rem;
    }

    .mobile_header > div .ammount > h6::before {
        margin-right: 1rem;
    }

    .mobile_header > div .order-now {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 12.6rem;
        height: 4.5rem;
        border-radius: 10rem;
        border: 1px solid var(--color_F1F1F1);
        padding: 1rem;
        background-color: var(--color_FFC300);
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
        box-shadow: 0 20px 20px 0 rgba(112, 144, 176, 0.2);
        cursor: pointer;
    }

    .mobile_header > div .order-now div h6 {
        font-size: 1.4rem;
        line-height: 2.1;
        font-weight: 500;
        color: var(--color_323232);
    }

     /* //////////////////////////////////////////////////////////////////////////// */

     .main .food_carts {
        grid-template-columns: repeat(1, 37rem);
        justify-content: center;
    }
    /* //////////////////////////////////////////////////////////////////////////// */
    
    .sale-off-carts {
        display: grid;
        grid-template-columns: repeat(1, 35rem);
        justify-content: center;
        row-gap: 2rem;
    }
}
