@media (max-width: 834px) {
    .header .container_navigation {
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
    }

    .header .container_navigation .menu {
        order: 2;
        justify-self: flex-end;
        padding-left: 0;
    }

    .header .container_navigation .menu ul {
        display: none;
    }

    #menu_checkbox:checked + label > div:first-child {
        display: none;
    }

    #menu_checkbox:checked + label > div:nth-child(2) {
        display: block;
    }

    #menu_checkbox:not(:checked) + label > div:first-child {
        display: block;
    }

    #menu_checkbox:not(:checked) + label > div:nth-child(2) {
        display: none;
    }

    .header .container_navigation .menu .menu_mobile label > ul {
        position: fixed;
        height: 2.4rem;
        display: flex;
        align-items: center;
        gap: 4.8rem;
        top: 0;
        left: 0;
        background-color: var(--color_F1F1F1);
        -webkit-box-shadow: 4px 0px 25px -10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 4px 0px 25px -10px rgba(0, 0, 0, 0.5);
        box-shadow: 4px 0px 25px -10px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        width: 20rem;
        height: 100vh;
        padding: 1rem 0 0 2rem;
        align-items: flex-start;
        gap: 3rem;
        transition: 150ms transform ease-in-out;
        -webkit-transition: 150ms transform ease-in-out;
        -moz-transition: 150ms transform ease-in-out;
        -ms-transition: 150ms transform ease-in-out;
        -o-transition: 150ms transform ease-in-out;
    }

    #menu_checkbox:checked + label > ul {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    #menu_checkbox:not(:checked) + label > ul {
        transform: translateX(-30rem);
        -webkit-transform: translateX(-30rem);
        -moz-transform: translateX(-30rem);
        -ms-transform: translateX(-30rem);
        -o-transform: translateX(-30rem);
    }
}

@media (min-width: 835px) {
    .header .container_navigation .menu .menu_mobile {
        display: none;
    }
}
